# Ignore compiled Python files
*.pyc

# Ignore virtual environment directory
venv/
newenv/

.artifacts
.ipynb_checkpoints/
mlproject.egg-info/
# Ignore log files
*.log

# Ignore editor-specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db
